*{
    font-family: 'Roboto', sans-serif;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
}

header ul li{
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #5f6368;
}

header ul li img.perfil{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}


main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logocentro{
    width: 272px;
    margin-bottom: 20px;
}

#buscador{
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    height: 44px;
    width: 584px;
    padding: 0 10px; /* 0 arriba, 0 derecha, 0 abajo, 0 izquierda */
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#buscador input{
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
}

#buscador .icono-buscador{
    width: 24px;
    height: 24px;
    color: #9aa0a6;
}

#botones {
    margin-top: 20px;
    text-align: center;
}

#botones button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#botones button:hover {
    background-color: #f8f9fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(60, 64, 67, 0.15);
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

footer ul:first-child {
    border-bottom: 1px solid #dadce0; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

footer ul:first-child li:first-child {
    margin-left: 0; 
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}



/* Modelo de caja: box model
tiene 4 propiedades:
- margin: margen    
- border: borde
- padding: relleno
- content: contenido

/* una clase se seleciona con un punto . y el id con un #